body {
    font-family: Arial;
    margin: 0;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

.navbar {
    background: #1e293b;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}

.hidden {
    display: none;
}

.dashboard {
    display: flex;
    gap: 15px;
}

.box {
    flex: 1;
    padding: 20px;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.total { background: #3b82f6; }
.pending { background: orange; }
.resolved { background: green; }

.status {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.pending-status { background: orange; }
.resolved-status { background: green; }
