body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url("bg.jpg") no-repeat center center/cover;
}

/* DARK OVERLAY */
body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    z-index: -1;
}

/* LOGIN */
.login-container {
    display: flex;
    height: 100vh;
}

.login-image {
    flex: 1;
}

.login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    background: white;
}

.login-form input {
    padding: 12px;
    margin-bottom: 15px;
}

/* NAVBAR */
.navbar {
    background: rgba(30,41,59,0.9);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

/* MAIN */
.container {
    position: relative;
    z-index: 1;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

/* CARD */
.card {
    background: rgba(255,255,255,0.95);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

/* DASHBOARD */
.dashboard {
    display: flex;
    gap: 15px;
}

.box {
    flex: 1;
    padding: 20px;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.total { background: #3b82f6; }
.pending { background: orange; }
.resolved { background: green; }

/* INPUT */
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

/* BUTTON */
button {
    margin-top: 10px;
    padding: 10px;
    background: #3b82f6;
    color: white;
    border: none;
}

button:hover {
    background: #2563eb;
}

/* STATUS */
.status {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.pending-status { background: orange; }
.resolved-status { background: green; }

.hidden {
    display: none;
}
